__pycache__
.env
.serena
.claude/settings.local.json
PRPs/local
PRPs/completed/
PRPs/stories/
/logs/
.zed
tmp/
temp/
UAT/

.DS_Store
.bmad-core
.claude
.gemini
# *.png
# *.jpg
# *.jpeg
# *.gif
# *.ico
# *requirements.txt
